* {
    box-sizing: border-box;
}

body, .bg-page-color {
    background-color: #212121;
}

body {
    position: relative;
}


.home {
    font-size: 2em;
    background: url("../images/sanfrancisco.jpg") no-repeat;
    
    height: 600px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home, .technologies, .team, .clients, .contact p, footer, .about {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

.home .container {
    height: 100%;
}

.about {
    background-color: #1a1b1d;
}

.technologies {
    margin-top: 2rem;
}

.technology {
    font-size: 1rem;
}

.technology figcaption {
    font-size: 1.5rem;
}

.team {
    background-color: #1a1b1d;
}

.team-member {
    background-color: #151719;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    margin: 1px;
}

.team-member img {
    border-radius: 10px;
}

.github-small {
    width: 60px;
    height: 30px;
}

.github-large {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.clients {
}

.clients h1 {
    font-size: 3rem;
}

.client {
    margin: 0;
}

.contact {
    background-color: #1a1b1d;
}

.logo {
    padding: 0.5rem;
    height: 200px;
    width: 200px;
}

.contact p {
    text-align: left;
    font-size: 0.75em;
    color: #6c757d;
}

footer {
    background-color: black;
    color: white;
    font-size: 0.75rem;
}

.client:hover {
    background-color: #15191d;
    border-radius: 10px;
}